.nested{
  list-style: none;
}
#doctorPrint{
  display: none;
}
.hideDocsSearch{
  display: none;
}

.hideIssues{
  display:none;
}

body{
  float: left;
  background-color: #a5cfe8;
}
h5{
  font-style: italic;
}
h1{
  font-style: italic;
  text-shadow: #FC0 1px 0 10px;
}
